@charset "UTF-8";

header{
    width: 100vw;
    height: 50px;  
    background-color: #405147f5;
}
.botão{
    padding-top: 7px;
    width: 73vw;
    height: 7vh;
    display: flex;
    position: absolute;
    left: 12%;
    justify-content: space-around;
}

.botao-menu{
    width: 85px;
    height: 35px;
    border-radius: 15px;
    background-color: #f5e8dfe5;
    border: 1px solid #f5e8dfe5;;
    box-shadow:  0px 0.5px 2px 1px rgba(0, 0, 0, 0.596);
    color: #2a352e;
    text-shadow: 0px 0px 1px 1px black; 
    margin: auto;
    font-size: 11.5pt;  
    transition: 0.5s;
    
}
.botao-menu:hover{
    background-color: #2a352e;
    color: #ffffff;

}
body{
    width: 100vw;
    height: 100vh;
    background-image: url('./Imagens\ /backgroung.png');
    background-repeat:no-repeat;
    background-size: cover;
    
}

body > p{
    font-size: small;
    font-weight: 200;
    font-family: 'Fahkwang', sans-serif;


}



.perfil{
    text-align: center;
    
}
.image-perfil{
    width: 200px;
}

.perfil-title{
    font-family: 'Fahkwang', sans-serif;
    font-size: larger;

}

h1{
    font-size: 1.5em;
    font-weight: 600;
}

h2{
    font-size: 1em;
    font-weight: 300;
}

h3{
    font-size: medium;
    font-weight: 300;
}
main{
    width: 90vw;
    height: 70vh;
    border-radius: 5px;
    margin:auto;
    text-align: center;
    background-color: #f5e8dfe5;
    color: #1d241f;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.418);

}

.titulo-2{
    padding-top: 20px;
    font-family: 'Fahkwang', sans-serif;
    font-size: large;
    font-weight: 600;
}
main > nav {
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: left;
    font-family: 'Fahkwang', sans-serif;
}

main > nav > ul{
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 25px;
    list-style: none;
  
}



.botao2{
    width: 50vw;
    margin: auto;
    line-height: 0px;
}

.image{
    width: 26px;
    padding-top: 20px;
    position: absolute;
    top: 67%;
    left: 25.8%;
}

.botao-whatsapp{
    border-radius: 19px;
    height: 35px;
    width: 130px;
    position: absolute;
    left: 32.5%;
    background-color: rgb(19, 226, 19);
    border: 1px solid rgb(17, 204, 17);
    color: #f5e8dfe5;
    box-shadow: 0px 0.2px 01px 0.5px rgba(0, 0, 0, 0.712);
    transition: 1s;
    font-size: 11pt;
}
.botao-whatsapp:hover{
    background-color: #2a352e;
}



footer{
    height: 110px;
    background-color: #405147f5;
    text-align: left;
    margin-top: 2px;
    padding: 10px;
    color: #f5e8dfe5;
}

.slogan{
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.contato{
    position: absolute;
    left: 30%;
    display: flex;
    justify-content: space-around;
    width: 150px;
    
    
}


.endereco{
   font-size: 10pt;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   padding-top: 5px;
   padding-bottom: 10px;

}

.contato > a {
    text-decoration: none;
   
}
.image-contact{
    width: 30px;
    filter:invert(100%);
   
   
 
}

