@charset "UTF-8";

header{
    width: 100vw;
    height: 50px;
    background-color: rgb(118, 118, 255);
    
}
.botão{
    width: 250px;
    height: 5vh;
    background-color: aquamarine;
    margin: auto;
    display: flex;
  
}

.botao-menu{
    width: 75px;
    height: 25px;
    border-radius: 15px;
    background-color: #DBF4E7;
    border: 1px solid #DBF4E7;
    color: #405147; 
    margin: auto;
   
}
body{
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    
}

body > p{
    font-size: small;
    font-weight: 200;
    font-family: 'Fahkwang', sans-serif;


}



.perfil{
    text-align: center;
    
}
.image-perfil{
    width: 200px;
}

.perfil-title{
    font-family: 'Fahkwang', sans-serif;
    font-size: larger;

}

h1{
    font-size: 1.5em;
    font-weight: 600;
}

h2{
    font-size: 1em;
    font-weight: 300;
}

h3{
    font-size: medium;
    font-weight: 300;
}
main{
    width: 100vw;
    height: 70vh;
    margin:auto;
    text-align: center;
    background-color: darkgreen;
}

.titulo-2{
    padding-top: 20px;
    font-family: 'Fahkwang', sans-serif;
    font-size: large;
    font-weight: 600;
}
main > nav {
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: left;
    font-family: 'Fahkwang', sans-serif;
}

main > nav > ul{
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 25px;
    list-style: none;
    border: 1px solid #000;
    background-color: aqua;   
}



.botao2{
    width: 50vw;
    margin: auto;
    background-color: chartreuse;
    line-height: 0px;
}

.image{
    width: 26px;
    position: absolute;
    top: 68.5%;
    left: 25.8%;
}

.botao-whatsapp{
    border-radius: 19px;
    height: 25px;
    width: 130px;
    position: absolute;
    left: 32.5%;
   
   
}


footer{
    background-color: rgb(153, 15, 38);
    text-align: left;
    padding: 10px;
}

.slogan{
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.contato{
    background-color: aqua;
    position: absolute;
    left: 30%;
    display: flex;
    justify-content: space-around;
    width: 150px;
    
    
}


.endereco{
   font-size: 10pt;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   padding-top: 5px;
   padding-bottom: 10px;

}

.contato > a {
    text-decoration: none;
   
}
.image-contact{
    width: 30px;
   
   
 
}

